<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
    <!--
    @author GEONLEE
    @since 2020-01-31



    -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- 설정파일에서 설정값 설정시 사용     -->
    <property resource="application.yml"/>
    <springProperty name = "ACTIVE" source= "spring.profiles.active"/>
    <springProperty name = "PROJECT_NAME" source= "project.name"/>

    <property name="LOG_DIR" value="/logs/${PROJECT_NAME}-${ACTIVE}" />
    <property name="REQUEST_RESPONSE_FILE_NAME" value="${PROJECT_NAME}_request_response" />
    <property name="INFORMATION_FILE_NAME" value="${PROJECT_NAME}_information" />
    <property name="EXCEPTION_FILE_NAME" value="${PROJECT_NAME}_exception" />

    <appender name="INFORMATION_FILE_NAME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${INFORMATION_FILE_NAME}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/02.info/%d{yyyy-MM-dd, aux}/%d{HH}.log</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="EXCEPTION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${EXCEPTION_FILE_NAME}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/01.exception/%d{yyyy-MM-dd, aux}/%d{HH_mm}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUEST_RESPONSE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${REQUEST_RESPONSE_FILE_NAME}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/03.request_response/%d{yyyy-MM-dd, aux}/%d{HH}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="NEIGHBOR" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%highlight([%p][N] %d{yyyy-MM-dd} %d{HH:mm:ss}) %clr(%caller{1, CALLER_DISPLAY_EVAL})\t%highlight(└───>) %clr("%m" %clr{reset}%n)</pattern>
        </layout>
    </appender>

    <logger name="kr.co.neighbor21.neighborApi.common.aop.LoggingAOP" additivity="FALSE">
        <level value="INFO" />
        <appender-ref ref="REQUEST_RESPONSE_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="INFORMATION_FILE_NAME"/>
        <appender-ref ref="EXCEPTION_FILE"/>
        <appender-ref ref="NEIGHBOR"/>
    </root>
</configuration>